In [1]:
import pandas as pd
import numpy as np

In [118]:
df1 = pd.read_csv('C:/Users/Lily/Desktop/Jupyter Workplace/BDSE19_PROJECT/final0803/car_isave_all_final_v2.csv', index_col=0)
df2 = pd.read_csv('C:/Users/Lily/Desktop/Jupyter Workplace/BDSE19_PROJECT/final0803/ABC_CAR_final.csv', index_col=0)

In [ ]:
# clean df1

In [119]:
df1.head()

,dealer_name,car_brand,car_model,car_year,car_address,car_color,car_gear,car_cylinderVolume,car_mileage,皮椅,...,MP3,柴油,ＨＩＤ,鋁圈,car_photo,car_price,car_title,dealer_address,id,verified
0,萬通汽車,LUXGEN,URX,2021年,台中市,白色系,手自排,1798CC,1KM,0.0,...,0.0,0.0,0.0,0.0,https://www.isave.com.tw/public/photo/1323773/...,98 萬,[領牌新車 7人旗艦款 全景天窗 全車環景],台中市西屯區環中路一段2280號,1323773.0,1.0
1,萬通汽車,LUXGEN,URX,2021年,台中市,白色系,手自排,1798CC,1KM,0.0,...,0.0,0.0,0.0,0.0,https://www.isave.com.tw/public/photo/1323761/...,98 萬,[7人座旗艦款 新車 新車價112萬],台中市西屯區環中路一段2280號,1323761.0,1.0
2,辛巴克有限公司,FORD,KUGA,2021年,台中市,白色系,手自排,1999CC,4275KM,1.0,...,1.0,1.0,1.0,1.0,https://www.isave.com.tw/public/photo/1302609/...,109 萬,[榮獲2020年 下半年SAVE認證優良店],台中市烏日區新興路193號,1302609.0,1.0
3,廣一汽車商行,SUZUKI,JIMNY,2021年,嘉義縣,灰色系,自排,1462CC,48KM,0.0,...,0.0,0.0,0.0,1.0,https://www.isave.com.tw/public/photo/1279404/...,已收訂,[好車盡在廣一SAVE卓越店新車車道偏移],嘉義縣水上鄉中山路二段1234號,1279404.0,1.0
4,大信汽車,TOYOTA,COROLLA CROSS,2021年,新北市,白色系,手自排,1798CC,3KM,1.0,...,1.0,0.0,0.0,1.0,https://www.isave.com.tw/public/photo/1276916/...,72.80 萬,[全新未開 新車80萬 現折7萬 免綁全險],新北市泰山區新北大道五段618號,1276916.0,1.0

In [5]:
df2.head()

,car_photo,car_price,car_title,dealer_address,dealer_name,verified,car_brand,car_model,id,car_year,...,日行燈,ABS,SRS,TCS,TPMS,parking_camera,cruise_sys,BSM,LDW,ACC主動定速
0,https://img.abccar.com.tw/resize?key=650x435/h...,71.8萬,TOYOTA RAV4 2.0 E (4代)2017,賞車地址：南投縣草屯鎮太平路一段9號,TOYOTA認證中古車/中誠草屯所,1,TOYOTA,RAV4 2.0 E (4代),物件編號1566744,2017年11月,...,0,1,1,1,1,1,0,0,1,1
1,https://img.abccar.com.tw/resize?key=650x435/h...,38.8萬,TOYOTA Corolla Altis 1.8 雅緻版 (11代)2013,賞車地址：雲林縣斗六市明德北路三段280號,TOYOTA認證中古車/南都斗六所,1,TOYOTA,Corolla Altis 1.8 雅緻版 (11代),物件編號1567986,2013年08月,...,0,1,1,0,0,1,0,0,0,0
2,https://img.abccar.com.tw/resize?key=650x435/h...,32.8萬,TOYOTA Yaris 1.5 E (2代)2013,賞車地址：彰化縣花壇鄉中山路一段93-1號,TOYOTA認證中古車/中誠彰化所,1,TOYOTA,Yaris 1.5 E (2代),物件編號1550919,2013年01月,...,0,1,1,0,0,0,0,0,0,0
3,https://img.abccar.com.tw/resize?key=650x435/h...,116.8萬,LEXUS RX350 頂級版 (3代)2015,賞車地址：新北市樹林區中正路421號,小鍾,0,LEXUS,RX350 頂級版 (3代),物件編號1568145,2015年11月,...,1,1,1,1,1,1,1,1,1,1
4,https://img.abccar.com.tw/resize?key=650x435/h...,23.8萬,LUXGEN 7 MPV 精緻型 8人座2012,賞車地址：新北市樹林區大安路558號,宋小姐,0,LUXGEN,7 MPV 精緻型 8人座,物件編號1531069,2012年12月,...,0,1,1,0,0,1,0,0,0,0

In [120]:
columns=['id', 'car_brand', 'car_model', 'car_year', 'car_mileage', 'car_price' , 'car_color',
         'car_door', 'car_seat', 'car_cylinderVolume', 'car_driveMode', 'car_fuel', 'car_gear',
         'verified', 'car_address', 'car_title', 'car_photo', 'dealer_name', 'seller_role', 
         'dealer_address', 'sunroof', 'TPMS', 'SRS', 'keyless', 'theft_alarm', 'central_lock',
         'ESP', 'TCS', 'ABS', 'cruise_sys', 'HID_head', 'LED_head', 'isofix', 'electric_seat',
         'auto_AC', 'navi_sys', 'IVI_sys', 'SW_button', 'leather_seat', 'parking_radar', 'parking_camera', 'BSM', 'ACC', 'LDW']

df = pd.DataFrame(columns=columns)

df1 = df1.loc[df1['car_price'].str.contains('萬') == True]

df1['source'] = 'ISAVE'
df1['car_brand'] = df1['car_brand'].str.upper()
df1['car_model'] = df1['car_model'].str.upper()
df1['car_year'] = df1['car_year'].str.replace('年','')
df1['car_price'] = df1['car_price'].str.replace('萬','')
df1['car_price'] = pd.to_numeric(df1['car_price'])*10000

car_mileage = []
for i in df1['car_mileage']:
    if i != 'KM':
        tmp = float(str(i).replace('KM',''))#*1000
        car_mileage.append(tmp)

    else:
        tmp = np.NaN
        car_mileage.append(tmp)
df1['car_mileage'] = car_mileage
      
df_isave = df.append(df1, ignore_index=True)
df_isave = df_isave[columns]

In [122]:
#df_isave['car_year'] = df_isave['car_year'].astype('Int64')
df_isave['car_color'] = df_isave['car_color'].str.replace('色','').str.replace('系','')
df_isave['car_door'] = df_isave['car_door'].astype('Int64')
df_isave['car_seat'] = df_isave['car_seat'].astype('Int64')
df_isave['car_cylinderVolume'] = df_isave['car_cylinderVolume'].str.replace('CC','')
#df_isave['car_cylinderVolume'] = df_isave['car_cylinderVolume'].astype('Int64') 不能改先不改
df_isave['verified'] = df_isave['verified'].astype('Int64')

In [123]:
df_isave.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4128 entries, 0 to 4127
Data columns (total 44 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  4128 non-null   float64
 1   car_brand           4049 non-null   object
 2   car_model           4049 non-null   object
 3   car_year            4049 non-null   object
 4   car_mileage         1937 non-null   float64
 5   car_price           4128 non-null   float64
 6   car_color           3109 non-null   object
 7   car_door            0 non-null      Int64
 8   car_seat            0 non-null      Int64
 9   car_cylinderVolume  4049 non-null   object
 10  car_driveMode       0 non-null      object
 11  car_fuel            0 non-null      object
 12  car_gear            4049 non-null   object
 13  verified            4128 non-null   Int64
 14  car_address         4049 non-null   object
 15  car_title           4128 non-null   object
 16  car_photo           4128 non-null   object
 17  dealer_name         4049 non-null   object
 18  seller_role         0 non-null      object
 19  dealer_address      4128 non-null   object
 20  sunroof             0 non-null      object
 21  TPMS                0 non-null      object
 22  SRS                 4049 non-null   float64
 23  keyless             0 non-null      object
 24  theft_alarm         0 non-null      object
 25  central_lock        0 non-null      object
 26  ESP                 0 non-null      object
 27  TCS                 0 non-null      object
 28  ABS                 4049 non-null   float64
 29  cruise_sys          0 non-null      object
 30  HID_head            0 non-null      object
 31  LED_head            0 non-null      object
 32  isofix              0 non-null      object
 33  electric_seat       4049 non-null   float64
 34  auto_AC             4049 non-null   float64
 35  navi_sys            0 non-null      object
 36  IVI_sys             0 non-null      object
 37  SW_button           0 non-null      object
 38  leather_seat        0 non-null      object
 39  parking_radar       0 non-null      object
 40  parking_camera      0 non-null      object
 41  BSM                 0 non-null      object
 42  ACC                 0 non-null      object
 43  LDW                 0 non-null      object
dtypes: Int64(3), float64(7), object(34)
memory usage: 1.4+ MB

In [124]:
df_isave.head()

,id,car_brand,car_model,car_year,car_mileage,car_price,car_color,car_door,car_seat,car_cylinderVolume,...,auto_AC,navi_sys,IVI_sys,SW_button,leather_seat,parking_radar,parking_camera,BSM,ACC,LDW
0,1323773.0,LUXGEN,URX,2021,1.0,980000.0,白,<NA>,<NA>,1798,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1323761.0,LUXGEN,URX,2021,1.0,980000.0,白,<NA>,<NA>,1798,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1302609.0,FORD,KUGA,2021,4275.0,1090000.0,白,<NA>,<NA>,1999,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1276916.0,TOYOTA,COROLLA CROSS,2021,3.0,728000.0,白,<NA>,<NA>,1798,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1286965.0,MAZDA,MAZDA 3,2021,NaN,738000.0,藍,<NA>,<NA>,1998,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
#df_isave['navi_sys'].nunique()

0

In [125]:
df_isave.to_csv('car_isave_cleaned_20210804.csv', encoding='utf_8_sig')

In [ ]:
# clean df2

In [128]:
columns=['id', 'car_brand', 'car_model', 'car_year', 'car_mileage', 'car_price' , 'car_color',
         'car_door', 'car_seat', 'car_cylinderVolume', 'car_driveMode', 'car_fuel', 'car_gear',
         'verified', 'car_address', 'car_title', 'car_photo', 'dealer_name', 'seller_role', 
         'dealer_address', 'sunroof', 'TPMS', 'SRS', 'keyless', 'theft_alarm', 'central_lock',
         'ESP', 'TCS', 'ABS', 'cruise_sys', 'HID_head', 'LED_head', 'isofix', 'electric_seat',
         'auto_AC', 'navi_sys', 'IVI_sys', 'SW_button', 'leather_seat', 'parking_radar', 'parking_camera', 'BSM', 'ACC', 'LDW']

df = pd.DataFrame(columns=columns)

df2 = df2.loc[df2['car_price'].apply(str).str.contains('Error') == False]
df2 = df2.loc[df2['car_price'].str.contains('萬') == True]

df2['source'] = 'ABC_CAR'
df2['car_mileage'] = df2['car_mileage'].str.replace('公里','')
df2['car_brand'] = df2['car_brand'].str.upper()
df2['car_model'] = df2['car_model'].str.upper()
df2['car_year'] = df2['car_year'].str.split('年',1).str[0]
df2['car_price'] = df2['car_price'].str.replace('萬','')
df2['car_price'] = pd.to_numeric(df2['car_price'])*10000

df_abc = df.append(df2, ignore_index=True)
df_abc = df_abc[columns]

In [129]:
df_abc['id'] = df_abc['id'].str.replace('物件編號','')
df_abc['car_mileage'] = df_abc['car_mileage'].str.replace(',','')
df_abc['car_price'] = df_abc['car_price'].astype('Int64')
df_abc['car_color'] =df_abc['car_color'].str.replace('色','').str.replace('系','')
df_abc['car_seat'] =df_abc['car_seat'].str.replace('人','').str.replace('含以上','').str.replace('(','').str.replace(')','')
df_abc['car_cylinderVolume'] = df_abc['car_cylinderVolume'].str.replace('L','')
df_abc['car_cylinderVolume'] = pd.to_numeric(df_abc['car_cylinderVolume'])*1000
df_abc['car_driveMode']=df_abc['car_driveMode'].str.replace('後輪驅動','2').str.replace('前輪驅動','2').str.replace('四輪驅動','4')

C:\Users\Lily\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """

In [130]:
df_abc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27282 entries, 0 to 27281
Data columns (total 44 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  27282 non-null  object
 1   car_brand           27282 non-null  object
 2   car_model           27282 non-null  object
 3   car_year            27282 non-null  object
 4   car_mileage         27282 non-null  object
 5   car_price           27282 non-null  Int64
 6   car_color           26471 non-null  object
 7   car_door            0 non-null      object
 8   car_seat            26917 non-null  object
 9   car_cylinderVolume  27282 non-null  float64
 10  car_driveMode       26933 non-null  object
 11  car_fuel            26915 non-null  object
 12  car_gear            26927 non-null  object
 13  verified            27282 non-null  object
 14  car_address         26586 non-null  object
 15  car_title           27282 non-null  object
 16  car_photo           27282 non-null  object
 17  dealer_name         27282 non-null  object
 18  seller_role         0 non-null      object
 19  dealer_address      27282 non-null  object
 20  sunroof             27282 non-null  object
 21  TPMS                27282 non-null  object
 22  SRS                 27282 non-null  object
 23  keyless             27282 non-null  object
 24  theft_alarm         0 non-null      object
 25  central_lock        0 non-null      object
 26  ESP                 0 non-null      object
 27  TCS                 27282 non-null  object
 28  ABS                 27282 non-null  object
 29  cruise_sys          27282 non-null  object
 30  HID_head            0 non-null      object
 31  LED_head            0 non-null      object
 32  isofix              0 non-null      object
 33  electric_seat       27282 non-null  object
 34  auto_AC             27282 non-null  object
 35  navi_sys            27282 non-null  object
 36  IVI_sys             27282 non-null  object
 37  SW_button           27282 non-null  object
 38  leather_seat        27282 non-null  object
 39  parking_radar       0 non-null      object
 40  parking_camera      27282 non-null  object
 41  BSM                 27282 non-null  object
 42  ACC                 0 non-null      object
 43  LDW                 27282 non-null  object
dtypes: Int64(1), float64(1), object(42)
memory usage: 9.2+ MB

In [131]:
df_abc.head()

,id,car_brand,car_model,car_year,car_mileage,car_price,car_color,car_door,car_seat,car_cylinderVolume,...,auto_AC,navi_sys,IVI_sys,SW_button,leather_seat,parking_radar,parking_camera,BSM,ACC,LDW
0,1566744,TOYOTA,RAV4 2.0 E (4代),2017,81691,718000,NaN,NaN,5,2000.0,...,0,1,0,0,1,NaN,1,0,NaN,1
1,1567986,TOYOTA,COROLLA ALTIS 1.8 雅緻版 (11代),2013,100515,388000,NaN,NaN,5,1800.0,...,0,1,1,0,1,NaN,1,0,NaN,0
2,1550919,TOYOTA,YARIS 1.5 E (2代),2013,127095,328000,NaN,NaN,5,1500.0,...,0,0,1,0,1,NaN,0,0,NaN,0
3,1568145,LEXUS,RX350 頂級版 (3代),2015,53004,1168000,紅,NaN,5,3500.0,...,1,1,1,1,1,NaN,1,1,NaN,1
4,1531069,LUXGEN,7 MPV 精緻型 8人座,2012,250000,238000,白,NaN,8,2200.0,...,1,0,0,0,1,NaN,1,0,NaN,0

In [98]:
df_abc['car_driveMode'].unique()

array(['前輪驅動', '四輪驅動', '後輪驅動', nan], dtype=object)

In [116]:
df_abc.to_csv('abc_car_cleaned_20210804.csv', encoding='utf_8_sig')

In [133]:
#df_abc['navi_sys'].unique()

array([1, 0], dtype=object)