In [20]:
import pandas as pd
import numpy as np

In [119]:
df1 = pd.read_csv('C:/Users/Lily/Desktop/Jupyter Workplace/BDSE19_PROJECT/final/car_isave_all_final_v2.csv', index_col=0)
df2 = pd.read_csv('C:/Users/Lily/Desktop/Jupyter Workplace/BDSE19_PROJECT/final/ABC_CAR_final.csv', index_col=0)

In [ ]:
# clean df1

In [11]:
df1.head()

,dealer_name,car_brand,car_model,car_year,car_address,car_color,car_gear,car_cylinderVolume,car_mileage,皮椅,...,MP3,柴油,ＨＩＤ,鋁圈,car_photo,car_price,car_title,dealer_address,id,verified
0,萬通汽車,LUXGEN,URX,2021年,台中市,白色系,手自排,1798CC,1KM,0.0,...,0.0,0.0,0.0,0.0,https://www.isave.com.tw/public/photo/1323773/...,98 萬,[領牌新車 7人旗艦款 全景天窗 全車環景],台中市西屯區環中路一段2280號,1323773.0,1.0
1,萬通汽車,LUXGEN,URX,2021年,台中市,白色系,手自排,1798CC,1KM,0.0,...,0.0,0.0,0.0,0.0,https://www.isave.com.tw/public/photo/1323761/...,98 萬,[7人座旗艦款 新車 新車價112萬],台中市西屯區環中路一段2280號,1323761.0,1.0
2,辛巴克有限公司,FORD,KUGA,2021年,台中市,白色系,手自排,1999CC,4275KM,1.0,...,1.0,1.0,1.0,1.0,https://www.isave.com.tw/public/photo/1302609/...,109 萬,[榮獲2020年 下半年SAVE認證優良店],台中市烏日區新興路193號,1302609.0,1.0
3,廣一汽車商行,SUZUKI,JIMNY,2021年,嘉義縣,灰色系,自排,1462CC,48KM,0.0,...,0.0,0.0,0.0,1.0,https://www.isave.com.tw/public/photo/1279404/...,已收訂,[好車盡在廣一SAVE卓越店新車車道偏移],嘉義縣水上鄉中山路二段1234號,1279404.0,1.0
4,大信汽車,TOYOTA,COROLLA CROSS,2021年,新北市,白色系,手自排,1798CC,3KM,1.0,...,1.0,0.0,0.0,1.0,https://www.isave.com.tw/public/photo/1276916/...,72.80 萬,[全新未開 新車80萬 現折7萬 免綁全險],新北市泰山區新北大道五段618號,1276916.0,1.0

In [12]:
df2.head()

,car_photo,car_price,car_title,dealer_address,dealer_name,verified,car_brand,car_model,id,car_year,...,日行燈,ABS,SRS,TCS,TPMS,parking_camera,cruise_sys,BSM,LDW,ACC主動定速
0,https://img.abccar.com.tw/resize?key=650x435/h...,71.8萬,TOYOTA RAV4 2.0 E (4代)2017,賞車地址：南投縣草屯鎮太平路一段9號,TOYOTA認證中古車/中誠草屯所,1,TOYOTA,RAV4 2.0 E (4代),物件編號1566744,2017年11月,...,0,1,1,1,1,1,0,0,1,1
1,https://img.abccar.com.tw/resize?key=650x435/h...,38.8萬,TOYOTA Corolla Altis 1.8 雅緻版 (11代)2013,賞車地址：雲林縣斗六市明德北路三段280號,TOYOTA認證中古車/南都斗六所,1,TOYOTA,Corolla Altis 1.8 雅緻版 (11代),物件編號1567986,2013年08月,...,0,1,1,0,0,1,0,0,0,0
2,https://img.abccar.com.tw/resize?key=650x435/h...,32.8萬,TOYOTA Yaris 1.5 E (2代)2013,賞車地址：彰化縣花壇鄉中山路一段93-1號,TOYOTA認證中古車/中誠彰化所,1,TOYOTA,Yaris 1.5 E (2代),物件編號1550919,2013年01月,...,0,1,1,0,0,0,0,0,0,0
3,https://img.abccar.com.tw/resize?key=650x435/h...,116.8萬,LEXUS RX350 頂級版 (3代)2015,賞車地址：新北市樹林區中正路421號,小鍾,0,LEXUS,RX350 頂級版 (3代),物件編號1568145,2015年11月,...,1,1,1,1,1,1,1,1,1,1
4,https://img.abccar.com.tw/resize?key=650x435/h...,23.8萬,LUXGEN 7 MPV 精緻型 8人座2012,賞車地址：新北市樹林區大安路558號,宋小姐,0,LUXGEN,7 MPV 精緻型 8人座,物件編號1531069,2012年12月,...,0,1,1,0,0,1,0,0,0,0

In [71]:
#find the data that have price
df1 = df1.loc[df1['car_price'].str.contains('萬') == True]

df1['source'] = 'ISAVE'
df1['car_brand'] = df1['car_brand'].str.upper()
df1['car_model'] = df1['car_model'].str.upper()
df1['car_year'] = df1['car_year'].str.replace('年','')
df1['car_price'] = df1['car_price'].str.replace('萬','')
df1['car_price'] = pd.to_numeric(df1['car_price'])*10000

car_mileage = []
for i in df1['car_mileage']:
    if i != 'KM':
        tmp = float(str(i).replace('KM',''))#*1000
        car_mileage.append(tmp)

    else:
        tmp = np.NaN
        car_mileage.append(tmp)
df1['car_mileage'] = car_mileage
      
columns=['car_brand', 'car_model', 'car_year', 'car_mileage', 'car_price', 'source']
df1 = df1[columns]

In [72]:
df1.head()

  car_brand      car_model car_year  car_mileage  car_price source
0    LUXGEN            URX     2021          1.0   980000.0  ISAVE
1    LUXGEN            URX     2021          1.0   980000.0  ISAVE
2      FORD           KUGA     2021       4275.0  1090000.0  ISAVE
4    TOYOTA  COROLLA CROSS     2021          3.0   728000.0  ISAVE
5     MAZDA        MAZDA 3     2021          NaN   738000.0  ISAVE

In [73]:
df1.to_csv('car_isave_cleaned_20210718.csv', encoding='utf_8_sig')

In [ ]:
# clean df2

In [64]:
columns=['car_brand', 'car_model', 'car_year', 'car_mileage', 'car_price']
df2[columns]

     car_brand                    car_model  car_year car_mileage car_price
0       TOYOTA              RAV4 2.0 E (4代)  2017年11月    81,691公里     71.8萬
1       TOYOTA  Corolla Altis 1.8 雅緻版 (11代)  2013年08月   100,515公里     38.8萬
2       TOYOTA             Yaris 1.5 E (2代)  2013年01月   127,095公里     32.8萬
3        LEXUS               RX350 頂級版 (3代)  2015年11月    53,004公里    116.8萬
4       LUXGEN                7 MPV 精緻型 8人座  2012年12月   250,000公里     23.8萬
...        ...                          ...       ...         ...       ...
4610    SUBARU       Impreza 5D 1.6i-S (5代)  2017年08月    66,000公里     69.8萬
4611     LEXUS                   RX330 (2代)  2003年04月        16公里       11萬
4612     Mazda                         3 5D  2017年10月    11,117公里       35萬
4613    SUZUKI                Swift 1.2 GLX  2015年05月    50,000公里       37萬
4614   Porsche         Cayenne Diesel (Mk2)  2014年12月    90,000公里      168萬

[27478 rows x 5 columns]

In [120]:
#find the data that have price

df2 = df2.loc[df2['car_price'].apply(str).str.contains('Error') == False]
df2 = df2.loc[df2['car_price'].str.contains('萬') == True]

df2['source'] = 'ABC_CAR'
df2['car_mileage'] = df2['car_mileage'].str.replace('公里','')
df2['car_brand'] = df2['car_brand'].str.upper()
df2['car_model'] = df2['car_model'].str.upper()
df2['car_year'] = df2['car_year'].str.split('年',1).str[0]
df2['car_price'] = df2['car_price'].str.replace('萬','')
df2['car_price'] = pd.to_numeric(df2['car_price'])*10000
      
columns=['car_brand', 'car_model', 'car_year', 'car_mileage', 'car_price', 'source']
df2 = df2[columns]

In [121]:
df2.head()

,car_brand,car_model,car_year,car_mileage,car_price,source
0,TOYOTA,RAV4 2.0 E (4代),2017,"81,691",718000.0,ABC_CAR
1,TOYOTA,COROLLA ALTIS 1.8 雅緻版 (11代),2013,"100,515",388000.0,ABC_CAR
2,TOYOTA,YARIS 1.5 E (2代),2013,"127,095",328000.0,ABC_CAR
3,LEXUS,RX350 頂級版 (3代),2015,"53,004",1168000.0,ABC_CAR
4,LUXGEN,7 MPV 精緻型 8人座,2012,"250,000",238000.0,ABC_CAR

In [122]:
df1.to_csv('abc_car_cleaned_20210718.csv', encoding='utf_8_sig')